.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width:100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(44, 50, 54, 0.25);
    background-color: white;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}


.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #3199f5;
    color: white;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

.choice-text {
    padding: 1.5rem;
    
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(236, 99, 179, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }